<nav class="teal">
  <div class="nav-wrapper">
    <a href="{{url_for('farm.home')}}" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{url_for('farm.signin')}}">Sign in</a></li>
      <li><a href="{{url_for('farm.registerFarm')}}">Register Farm</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{url_for('farm.signin')}}">Sign in</a></li>
  <li><a href="{{url_for('farm.registerFarm')}}">Register Farm</a></li>
</ul>
