<nav class="teal">
  <div class="nav-wrapper">
    <a href="{{url_for('farm.home')}}" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% if current_user.level == 'Admin'%}
        <li><a href="{{url_for('admin.farm_admin', farm_name=current_user.farm_name)}}">Dashboard</a></li>
        <li><a href="{{url_for('admin.disp_users', farm_name=current_user.farm_name)}}">Users</a></li>
        <li><a href="{{url_for('admin.message', farm_name=current_user.farm_name)}}">Communicate</a></li>
      {% else %}
        <li><a href="{{url_for('user.user_dashboard', farm_name=current_user.farm_name)}}">Dashboard</a></li>
      {% endif %}
      <li><a href="{{url_for('farm.signout')}}">Sign out</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {% if current_user.level == 'Admin'%}
    <li><a href="{{url_for('admin.farm_admin', farm_name=current_user.farm_name)}}">Dashboard</a></li>
    <li><a href="{{url_for('admin.disp_users', farm_name=current_user.farm_name)}}">Users</a></li>
    <li><a href="{{url_for('admin.message', farm_name=current_user.farm_name)}}">Communicate</a></li>
  {% else %}
    <li><a href="{{url_for('user.user_dashboard', farm_name=current_user.farm_name)}}">Dashboard</a></li>
  {% endif %}
  <li><a href="{{url_for('farm.signout')}}">Sign out</a></li>
</ul>
