{% extends 'base/base.html' %}

{% block content %}
  <section class="section">
    <div class="container">
      <h4>Note</h4>
      <p>Upon filling the details below, a farm registration request will be sent to NjorogesFarm administrator. The administrator will review your details and if successful, send you a farm activation link to the email you give. Click on this link to activate your farm account and register your farm administrator</p>

      <h4>Register a new farm</h4>

      {% from 'includes/_formhelpers.html' import render_field %}
      <div class="row">
        <form method="POST" action="" class="col s12">
          {{form.csrf_token}}
          <div class="row">
            <div class="input-field col s12 m6">
              {{render_field(form.farm_name, class_="validate")}}
            </div>
            <div class="input-field col s12 m6">
              {{render_field(form.farm_email, class_="validate")}}
            </div>
          </div>
          <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit">Submit <i class="material-icons right">send</i></button>
        </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
