{% extends 'base/admin_base.html' %}

{% block content %}
{% from 'includes/_formhelpers.html' import render_field %}
  <section class="section">
    <div class="container">
      <h4>House: <a href="{{url_for('admin.disp_house', farm_name=current_user.farm_name, house_name=crop.house_name)}}" class="btn">{{crop.house_name}}</a></h4>
      <h4>The crop name: {{crop.crop_name}}</h4>
      <h4>The crop number: {{crop.crop_no}}</h4>
      <h5>
        <p>Start Date: {{crop.start_date}};</p>
        <p>
          Current Date: {{crop.current_date}};
          {% if day_status %}
          <small>Day {{day_status.day_no}}</small>
          {% endif %}
        </p>
        {% if crop.end_date %}
          <p>End Date: {{crop.end_date}}</p>
        {% endif %}
      </h5>
    </div>
  </section>

  <section class="section teal">
    <div class="container white">
      <h5>Crop Activities</h5>
      <p>These are the daily activities of the crop number {{crop.crop_no}}, such as free-turning</p>
      <hr>
      <div class="row">
        <ul class="collapsible black-text">
          {% for day in days %}
            <li class="col s12 m3">
              {% if not day.actv %}
                {% set color = 'blue' %}
              {% endif %}
              <div class="collapsible-header {{color}}">Day {{day.day_no}}</div>
              <div class="collapsible-body">
                {% if daysdata[day.day_no]['activities'] %}
                  <p>{{daysdata[day.day_no]['activities'].description}}</p>
                  {% if current_user.level == 'Admin'%}
                    <p>Chronicler: {{daysdata[day.day_no]['activities'].chronicler}}</p>
                  {% endif %}
                {% else %}
                  <a href="{{url_for('user.record_activities', farm_name=current_user.farm_name, house_name=crop.house_name, crop_no=crop.crop_no, day_no=day.day_no)}}" class="btn">Update</a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="section teal">
    <div class="container white">
      <h5>Crop Condition</h5>
      <p>This is the daily condition record of the house {{crop.house_name}} during crop number {{crop.crop_no}} period</p>
      <hr>
      <div class="row">
        <ul class="collapsible black-text">
          {% for day in days %}
            <li class="col s12 m3">
              {% if not day.condt %}
                {% set color = 'blue' %}
              {% endif %}
              <div class="collapsible-header {{color}}">Day {{day.day_no}}</div>
              <div class="collapsible-body">
                {% if daysdata[day.day_no]['condition'] %}
                  <p>Temperature: {{daysdata[day.day_no]['condition'].temperature}}</p>
                  <p>Humidity: {{daysdata[day.day_no]['condition'].humidity}}</p>
                  <p>Time: {{daysdata[day.day_no]['condition'].time}}</p>
                  {% if current_user.level == 'Admin'%}
                    <p>Chronicler: {{daysdata[day.day_no]['condition'].chronicler}}</p>
                  {% endif %}
                {% else %}
                  <a href="{{url_for('user.record_condition', farm_name=current_user.farm_name, house_name=crop.house_name, crop_no=crop.crop_no, day_no=day.day_no)}}" class="btn">Update</a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="section teal">
    <div class="container white">
      <h5>Crop Harvests</h5>
      <p>This the daily harvest of crop number {{crop.crop_no}}</p>
      <hr>
      <div class="row">
        <ul class="collapsible black-text">
          {% for day in days %}
            <li class="col s12 m3">
              {% if not day.harv %}
                {% set color = 'blue' %}
              {% endif %}
              <div class="collapsible-header {{color}}">Day {{day.day_no}}</div>
              <div class="collapsible-body">
                {% if daysdata[day.day_no]['harvest'] %}
                  <p>{{daysdata[day.day_no]['harvest'].punnets}} punnets</p>
                  {% if current_user.level == 'Admin'%}
                    <p>Chronicler: {{daysdata[day.day_no]['harvest'].chronicler}}</p>
                  {% endif %}
                {% else %}
                  <a href="{{url_for('user.record_harvest', farm_name=current_user.farm_name, house_name=crop.house_name, crop_no=crop.crop_no, day_no=day.day_no)}}" class="btn">Update</a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  {% if current_user.level == 'Admin' %}
    <section class="section">
      <div class="container teal">
        <h5>Start a new day</h5>
        <p>Ensure you select the days in order. The current date of the crop is {{crop.current_date}}.</p>
        <form action="{{url_for('admin.add_day', farm_name=current_user.farm_name, house_name=crop.house_name, crop_no=crop.crop_no)}}" method="post">
          {{form.csrf_token}}
          <div class="row">
            <div class="input-field col s12 m6">
              {{render_field(form.date, class_='mydatepicker')}}
              <!-- <input type="text" name="date" class="mydatepicker" id="date"> -->
              <!-- <label for="date">Select the date</label> -->
            </div>
            {% if day_status %}
              {% set disabled = 'disabled' %}
            {% else %}
              {% set disabled = '' %}
            {% endif %}
            <div class="col s12 m6">
              <button type="submit" name="action" class="{{disabled}} btn">Sunrise</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="section teal">
      <div class="container white">
        <h5>End a day</h5>
        <p>This ends a day. It sets data that has not been updated to zero. For instance, temperature will be set to '0', humidity to '0' and activities to 'no activities updated'</p>
        {% if not day_status %}
          {% set disabled = 'disabled' %}
        {% else %}
          {% set disabled = '' %}
        {% endif %}
        <a href="" class="btn disabled">Sunset</a>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block scripting %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.mydatepicker');
      var instances = M.Datepicker.init(elems, {
        minDate: new Date('{{min_date}}')
      });
    });
  </script>
{% endblock %}
