<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      {% include 'includes/_navbar.html' %}
    </header>
    <div class="container">
      {% include 'includes/_messages.html' %}
    </div>

    {% block content %}
    {% endblock %}

    <footer class="page-footer teal darken-3">
      <div class="footer-copyright">
        <div class="container center">
          © 2019 timFarm
        </div>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/matCustom.js')}}"></script>
    {% block scripting %}
    {% endblock %}
  </body>
</html>
