{% extends 'admin_base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h4>{{session['farm_name']}} farm</h4>
    <p>Display the users present in the fam you administer</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.level}}</td>
            <td>
              {% if user.level == 'User' %}
                <a href="{{url_for('farm.del_users', farm_name=session['farm_name'], username=user.username)}}" class="btn">Remove</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% for user in users %}
    {% endfor %}
    <a href="{{url_for('farm.reg_user', farm_name=session['farm_name'])}}" class="btn">Register a new user</a>
  </div>
</section>

{% endblock %}
