{% extends 'base.html' %}


{% block content %}
{% from 'includes/_formhelpers.html' import render_field %}
  <section class="section">
    <div class="container">
      <h4>House: {{crop.house_name}}</h4>
      <h5>The crop name: {{crop.crop_name}}</h5>
      <h5>The crop number: {{crop.crop_no}}</h5>
      <h5>Day: {{day.day_no}}</h5>
      <h6>Update the activities records</h6>
    </div>
  </section>

  <section class="section teal">
    <div class="container white">
      <h5>Activities Section</h5>
      <form action="" method="post" class="activities">
        {{form.crfs_token}}
        <div class="row">
          <div class="input-field col s12">
            {{render_field(form.description, class='validate')}}
          </div>
          <div class="col s12">
            <button type="submit" name="" class="btn">Update</button>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block scripting %}
{% endblock %}
